/* Layout aids */
body {
	background-color: lightgray;
}
/* project CSS */
html {
	box-sizing:border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	/* Layout */
	margin:0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

.content {
	width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

nav {
	background-color: #fff;
	position: fixed;
	width: 100%;
}

nav .content {
	height:70px;
}

nav .content ul {
	/* fonts */
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	/* Layout */
	float: right;
	margin-top: 25px;
	list-style: none;
}

nav .content ul li {
	display:inline-block;
	margin-left: 25px;
}

nav .content ul li:hover {
    cursor: pointer;
    color: #333333;
}

nav .content ul .active {
 	color: #4c5058;
    font-weight: 500;
}

nav .content img { 
	height: 70px;
}

.intro {
	background-image:url(../images/first-background.jpg);
	background-repeat:no-repeat;
	background-position:center bottom;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}

.intro .content {
	/* font */
	color: #fff;
	/* layout */
	text-align: center;
	margin-top: 280px;
}

.intro .content h1 {
	font-weight: 300;
	font-size: 3.125rem;
	margin-top: 0;
	margin-bottom: 0;
}

.intro .content h3 {
	font-weight: 300;
	font-size: 1.563rem;
	margin-top: 25px;
}

.intro .content button {
	/* styling */
	color: #fff;
	font-weight: 300;
	font-size: 1.125rem;
	background-color: #f15a29;
	border-color: #f15a29;
	border-style: none;
	border-radius: 4px;
	/* layout */
	padding: 1rem 1.5rem;
}

.intro .content button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}

main {}

main .content {
	text-align: center;
	margin-top: 7.875rem;
}

main .content h1 {
	font-weight: 300;	
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
}

main .content ul {
}

main .content ul li {
	list-style: none;
	width: 33.3333333%;
	float: left;
}

main .content ul li img {}

main .content ul li .caption {
	font-weight: 400;
	font-size: 1.563rem;
}





















