/* layout aids */
div {
	border: 1px solid red;
}
body {
	background-color: lightgray;
}
/* project CSS */
html {}

body {
	/* Layout */
	margin:0;
	/* Font */
	font-family: "Roboto", sans-serif;
}

nav {
	background-color: #fff;
}

nav .content {
	padding:0 0.938rem;
	width: 60rem;
	height:70px;
	margin: 0 auto;
}

nav .content img {
	padding: .968rem 0;

}

nav .content ul {
	display: inline;
	margin: 0;
}

nav .content ul {
	/* Layout */
	display: inline;
	float: right;
	margin: 1.7em 0;
	list-style: none;
	/* Font */
	color: #838994;
	font-size: 1.04rem;
	font-weight: lighter;

}

nav .content ul li {
	display:inline;
	margin-left: 1.563em;
}
