/* Layout aids */
body {
	background-color: lightgray;
}
/* project CSS */
html {
	box-sizing:border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	/* Layout */
	margin:0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.content {
	width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

nav {
	background-color: #fff;
}

nav .content {
	height:70px;
}

nav .content ul {
	/* fonts */
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	/* Layout */
	float: right;
	margin-top: 25px;
	list-style: none;
}

nav .content ul li {
	display:inline-block;
	margin-left: 25px;
}

nav .content ul li:hover {
    cursor: pointer;
    color: #333333;
}

nav .content ul .active {
 	color: #4c5058;
    font-weight: 500;
}

nav .content img { 
	height: 70px;
}

.intro {
	background-image:url(../images/first-background.jpg);
	background-repeat:no-repeat;
	background-position:center bottom;
	background-size: cover;
	height: 735px;
}
.intro .content {
	/* font */
	color: #fff;
	/* layout */
	text-align: center;
	padding-top: 280px;
	margin-top: 0;
}
.intro .content h1 {
	font-weight: 300;
	font-size: 3.125rem;
}
.intro .content h3 {
	font-weight: 300;
	font-size: 1.563rem;
}
.intro .content button {
	color: #fff;
	font-weight: 300;
	font-size: 1.125rem;
}









